<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Acerca de nosotros"}) %> 

<body>
    <%- include('partials/header') %> 

    <main>

        <section class="hero">
            <h1>Acerca de nosotros...</h1>
        </section>

        <section class="cards">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur enim ullam minus suscipit labore earum exercitationem, molestias, necessitatibus quidem architecto iste consequuntur! Obcaecati harum saepe possimus, impedit necessitatibus accusantium temporibus et deleniti dolor, tenetur sequi id! Deleniti reprehenderit expedita fugiat libero veritatis, est laborum repellat rerum cupiditate consequuntur illo distinctio, neque maiores nihil fuga alias. A consectetur impedit praesentium earum velit id quod modi necessitatibus, deserunt corrupti obcaecati expedita, quisquam et perferendis aspernatur odio quam porro! Quasi, culpa! Nemo debitis labore ipsum reprehenderit quae iste aliquid laborum officia voluptas, alias voluptate nisi placeat natus, ad temporibus voluptatibus error quidem ea!</p>

    </main>
    <%- include('partials/footer')  %> 
</body>
</html>