<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Home"})  %>

<body>
    <%- include('partials/header') %> 

    <main>

        <section class="hero">
            <% if( 5 > 1) { %>
                <h1>Hola a todos</h1>
            <% } %> 
            <h2> <%= mensaje %> </h2>
        </section>

        <section class="cards">
            <article>
                <h2>Ad lorem ipsum</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dignissimos repellendus ipsa dolore nulla unde, quis error maiores odio?</p>
                <button>Más info</button>
            </article>
            <article>
                <h2>Ad lorem ipsum</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dignissimos repellendus ipsa dolore nulla unde, quis error maiores odio?</p>
                <button>Más info</button>
            </article>
            <article>
                <h2>Ad lorem ipsum</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dignissimos repellendus ipsa dolore nulla unde, quis error maiores odio?</p>
                <button>Más info</button>
            </article>
            <article>
                <h2>Ad lorem ipsum</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dignissimos repellendus ipsa dolore nulla unde, quis error maiores odio?</p>
                <button>Más info</button>
            </article>
            <article>
                <h2>Ad lorem ipsum</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dignissimos repellendus ipsa dolore nulla unde, quis error maiores odio?</p>
                <button>Más info</button>
            </article>
            <article>
                <h2>Ad lorem ipsum</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dignissimos repellendus ipsa dolore nulla unde, quis error maiores odio?</p>
                <button>Más info</button>
            </article>
        </section>

    </main>
    <%- include('partials/footer')  %> 
</body>
</html>